.Balance{
text-align: center;
}

.income{
    background-color: aqua;
    width: 80%;
    height: 80px;
    margin-left: 10%;
    border-radius: 4px;
    text-align: center;
    font-weight: 600;
}
.expense{
    background-color: rgb(243, 146, 55);
    width: 80%;
    height: 80px;
    margin-left: 10%;
    border-radius: 4px;
    text-align: center;
    font-weight: 600;

}

.Add_New{
    text-align: center;
    font-size: 20px;
    font-weight: 600;
}

.income_balance{
    color: green;
    line-height: 2px;
}
.expense_balance{
    color: red;
    line-height: 2px;

}

.input_rs{
    padding: 7px;
    border-radius: 4px;
    width: 90%;
}
.Pay_method{
    line-height: 2px;
}

.btn{
    background-color: #0524ac;
    color: white;
    border-radius: 4px;
    width: 98%;
    height: 40px;
    margin-top: 10px;
}